{% extends 'base.html' %}

{% block content %}

  <h1>Компании</h1>
      {% for c in companies %}
            <ul class="list-group list-group-flush">
          <li><a href="{% url 'company-detail' c.id %}" class="list-group-item list-group-item-primary"><strong>{{c.title}}</strong></a>
              {% if c.is_hunting %}
              - Ищем сотрудников
              {% else %}
              - В работниках не нуждаемся
              {% endif %}</li>
            </ul>
      {% endfor %}

{% endblock %}